@import "tailwindcss";

html {
  /* font-size: 62.5%; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #1c1b1b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* @theme {
  --container-container: 800px;
} */

@layer components {
  .container {
    @apply m-auto;
  }
  .gradient1 {
    @apply bg-gradient-to-r from-[#4e2a18] to-[#fd4715];
  }
  .gradient2 {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#f9b241] to-[#fd4715];
  }
  .btnCSS {
    @apply py-2 px-4 bg-amber-600 rounded-[9px] hover:bg-amber-700 cursor-pointer text-[#fff] text-[1.1rem] font-bold;
  }
  span {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#f9b241] to-[#fd4715];
  }
  .gradientbtn {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#f6663e] to-[#ead654];
  }
  h2 {
    @apply text-center text-amber-50 text-[1.3rem] font-semibold mt-[2rem] mb-[0.7rem];
  }
  .para {
    @apply text-amber-50 text-center mask-b-from-neutral-500;
  }
  .community-box {
    @apply flex justify-center flex-col mt-5 mb-[2rem];
  }
  .community-image {
    @apply w-[7rem] block my-[0] mx-[auto];
  }
  .community-form {
    @apply w-[60%] mx-auto border-1 border-solid border-amber-50 px-[3rem]  rounded-2xl pb-10 my-20;
  }
}
